<p-toast key="toast"></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-table [value]="studentList" styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' ,'padding':'0.5rem'}" [rowHover]="true">
    <ng-template pTemplate="caption">
        <div class="header grid  flex  align-items-center">

            <span class="font-bold col-6 text-lg flex justify-content-end ">STUDENT LIST</span>

            <div class="rolebtn col-6  flex justify-content-end align-items-center">

                <p-button label="+Add" (click)="sidebarControl()" *ngIf="role==='teacher'" pAutoFocus
                    [autofocus]="true"></p-button>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th class="text-center" pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon>

            </th>
            <th class="text-center" pSortableColumn="rollno" style="width:20%">ROLL NUMBER <p-sortIcon
                    field="rollno"></p-sortIcon></th>
            <th class="text-center" pSortableColumn="math" style="width:20%">MATH <p-sortIcon field="math"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="physics" style="width:20%">PHYSICS<p-sortIcon
                    field="physics"></p-sortIcon></th>
            <th class="text-center" pSortableColumn="english" style="width:20%">ENGLISH<p-sortIcon
                    field="english"></p-sortIcon></th>
            <th class="text-center">ACTION</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <ng-template #tableData>
        <tr>
            <td class="text-center uppercase">{{ product.name}}</td>
            <td class="text-center">{{ product.rollno }}</td>
            <td class="text-center">{{ product.math }}</td>
            <td class="text-center">{{ product.physics }}</td>
            <td class="text-center">{{ product.english }}</td>
            <td>

                <div class="actionBtn flex  gap-3 align-items-center"[ngClass]="{perTextCenter: role === 'student'}">
                    <div class="editBtn  border-circle p-2 hover:bg-white" *ngIf="role==='teacher'">
                        <i  class="pi pi-file-edit" id="editBtn" (click)="editData(product)"
                            pTooltip="click to edit" tooltipPosition="left" style="font-size: 1.2rem;"></i>
                    </div>
                    <div class="deleteBtn  border-circle p-2 hover:bg-white" *ngIf="role==='teacher'">
                        <i class="pi pi-trash"  id="deleteBtn"
                            (click)="deleteStudent(product,$event)" pTooltip="click to delete" tooltipPosition="left"
                            style="font-size: 1.2rem;"></i>
                    </div>
                    <div class="perBtn  border-circle p-2 hover:bg-white text-center" >
                        <i class="pi pi-percentage" (click)="calPercentage(product)" pTooltip="calculate percentage"
                            tooltipPosition="left" style="font-size: 1rem;" id="perBtn"></i>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
        <!--  -->
        <tr *ngIf="skeleton else tableData">
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
        <!--  -->


    </ng-template>
    <ng-template pTemplate="emptymessage">
        <div class="di text-center w-full">
            <h3>No data found!</h3>
        </div>
    </ng-template>
</p-table>

<!-- Sidebar -->
<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="w-25rem">
    <app-form (notify)="onSubmit($event)" (indicator)="hidesidebar($event)"></app-form>
    <!-- here notify carring false value this is an custom event binding $event contain notify value which is false -->
</p-sidebar>
<!--  -->