/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}